{{ template "header.html" .}}
<link href="/static/assets/css/tables/table-basic.css" rel="stylesheet" type="text/css"/>
{{ template "styles.html" .}}
<!-- CONTENT AREA -->
<div class="row layout-top-spacing">
    <div class="col-xl-12 col-lg-12 col-md-12 col-12 layout-spacing">
        <div class="widget-content-area br-4">
            <div class="row">
                <div class="col-6">
                    <h3>Client nodes</h3>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-outline-primary mb-2 mr-2 btn-rounded" type="button" data-toggle="modal"
                            data-target="#add-client-modal">
                        New
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="feather feather-plus">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                    </button>
                </div>
            </div>
            <hr>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped table-checkable table-highlight-head mb-4">
                    <thead>
                    <tr>
                        <th>#</th>
{{/*                        <th>Created At</th>*/}}
                        <th>App Name</th>
                        <th>Folders</th>
                        <th>IP & Port</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody id="clients-dt"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT AREA -->
{{ template "scripts.html" .}}
<script>
    let clients = [];

    function addClientRow(client) {
        if (!client) return;
        let folders = "";
        client.folders.toString().split(",").forEach(folder => {
            folders += `<p>${folder}</p>`
        });
        $("#clients-dt").append(`
        <tr>
            <td>${client.ID}</td>
            // <td>${moment(client.CreatedAt).format("lll")}</td>
            <td>${client.appName}</td>
            <td>
                ${folders}
            </td>
            <td><span class="badge badge-primary">${client.ipAddress}</span> : <span class="badge badge-primary">${client.port}</span></td>
            <td>
                <a href="javascript:openClient(${client.ID});">
                    <span class="material-icons md-light md-18 text-primary">visibility</span>
                </a>
                <a href="javascript:editClient(${client.ID});">
                    <span class="material-icons md-light md-18 text-info">create</span>
                </a>
                <a href="javascript:deleteClient(${client.ID});">
                    <span class="material-icons md-light md-18 text-danger">delete_outline</span>
                </a>
            </td>
        </tr>
        `);
    }

    function openClient(client) {
        window.location = "/clients/app/" + client;
    }

    function editClient(clientId) {
        let modal = $("#edit-client-modal");
        let client = clients.filter(client => client.ID === clientId)[0];
        console.log(client);
        modal.find("#edit-app-id").val(clientId);
        modal.find("#edit-app-name").val(client.appName);
        modal.find("#edit-app-ip").val(client.ipAddress);
        modal.find("#edit-app-port").val(client.port);
        modal.find("#edit-folders").val(client.folders);
        modal.find("#edit-app-config-path").val(client.configPath);
        modal.modal("show");
    }

    async function saveClient() {
        let modal = $("#edit-client-modal");
        let appId = modal.find("#edit-app-id").val();
        let appName = modal.find("#edit-app-name").val();
        let appIp = modal.find("#edit-app-ip").val();
        let appPort = modal.find("#edit-app-port").val();
        let folders = modal.find("#edit-folders").val();
        let configPath = modal.find("#edit-app-config-path").val();

        if (!appName) {
            showError("App name is required");
            return;
        }
        if (!appIp || !appPort) {
            showError("App IP address & port is required");
            return;
        }
        let result = await sendJson("/clients/edit/" + appId, {appId, appName, appIp, appPort, folders, configPath});
        if (result) {
            await reloadClients();
            alertify.success("Client edited successfully.");
            $("#edit-client-modal").modal("hide");
        } else {
            showError(result.error);
        }
    }

    async function deleteClient(clientId) {
        if (!clientId) {
            showError("Unknown ID");
            return;
        }
        alertify.defaults.glossary = {
            title: 'Confirm',
            ok: 'Delete',
            cancel: 'Cancel'
        };
        alertify.confirm("Do you want to delete this client?",
            async function () {
                let result = await getJson("/clients/delete/" + clientId);
                if (result) {
                    alertSuccess("Client deleted successfully");
                    await reloadClients();
                } else {
                    alertError("Error deleting client");
                }
            },
            function () {
                alertify.error('Action canceled');
            }
        );
    }

    async function addClient() {
        let modal = $("#add-client-modal");
        let appName = modal.find("#app-name").val();
        let appIp = modal.find("#app-ip").val();
        let appPort = modal.find("#app-port").val();
        let folders = modal.find("#folders").val();
        let configPath = modal.find("#app-config-path").val();

        if (!appName) {
            showError("App name is required");
            return;
        }
        if (!appIp || !appPort) {
            showError("App IP address & port is required");
            return;
        }
        let result = await sendJson("/clients/add", {appName, appIp, appPort, folders, configPath});
        if (result) {
            addClientRow(result.payload);
            alertify.success("Client added successfully.");
            modal.modal("hide");
        } else {
            showError(result.error);
        }
    }

    async function reloadClients() {
        clients = await loadClients();
        $("#clients-dt").text("");
        clients.forEach(addClientRow);
    }

    $(document).ready(async function () {
        await reloadClients();
    });
</script>
<div class="modal fade" id="add-client-modal" tabindex="-1" role="dialog" aria-labelledby="add-client-modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-client-modalLabel">New Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-4">
                    <label for="app-name">App Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="app-name" placeholder="MO Consumer">
                </div>
                <div class="form-group mb-4">
                    <label for="app-ip">IP Address & Port Number <span class="text-danger">*</span></label>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" id="app-ip" placeholder="10.45.68.50">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="app-port" placeholder="5000">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="folders">Folders to monitor <span class="text-info">(separated by commas)</span></label>
                    <textarea class="form-control" id="folders" rows="5"
                              placeholder="/var/www/mo-consumer/logs,/var/www/kiboko/logs,/go-apps/lucky-number/api/logs,">
                    </textarea>
                </div>
                <div class="form-group mb-4">
                    <label for="app-config-path">Config file path</label>
                    <input type="text" class="form-control" id="app-config-path"
                           placeholder="/go-apps/lucky-numbers/.env">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Close</button>
                <button type="button" onclick="addClient()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-client-modal" tabindex="-1" role="dialog" aria-labelledby="edit-client-modalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-client-modalLabel">Edit Client</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                         viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                         stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group mb-4">
                    <label for="edit-app-name">App Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="edit-app-name" placeholder="MO Consumer">
                    <input type="hidden" id="edit-app-id">
                </div>
                <div class="form-group mb-4">
                    <label for="edit-app-ip">IP Address & Port Number <span class="text-danger">*</span></label>
                    <div class="row">
                        <div class="col-8">
                            <input type="text" class="form-control" id="edit-app-ip" placeholder="10.45.68.50">
                        </div>
                        <div class="col-4">
                            <input type="text" class="form-control" id="edit-app-port" placeholder="5000">
                        </div>
                    </div>
                </div>
                <div class="form-group mb-4">
                    <label for="edit-folders">Folders to monitor <span
                                class="text-info">(separated by commas)</span></label>
                    <textarea class="form-control" id="edit-folders" rows="5">
                    </textarea>
                </div>
                <div class="form-group mb-4">
                    <label for="edit-app-config-path">Config file path</label>
                    <input type="text" class="form-control" id="edit-app-config-path"
                           placeholder="/go-apps/lucky-numbers/.env">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Close</button>
                <button type="button" onclick="saveClient()" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>
{{ template "footer.html" .}}